<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modos de Uso</title>
    <link rel="stylesheet" href="static/style.css2.0.css">
</head>
<div class="title2">
    <h1> Modos de Uso </h1>

</div>
<header>
    <div class="main">
        <ul>
            <li> <a href="/">Inicio</a></li>
            <li class="active"> <a href="/modosDeUso">Modos de Uso</a></li>
            <li> <a href="/recetas">Recetas</a></li>
            <li> <a href="/Inspiracion">Inspiración</a></li>
            <li> <a href="/quienes_somos">¿Quiénes somos?</a></li>
        </ul>  
    </div>     
</header>
<body>
    <div class="container">
        <div class="card">
            <img src= "https://upload.wikimedia.org/wikipedia/commons/b/b2/Dog-1123016_960_720.jpg" alt="perro">
            <div class="intro">
                <h1>Paso 1</h1>
                <p1>Verifica los ingredientes que tienes disponibles en casa</p1>
            </div>
        </div>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Dog-1123016_960_720.jpg" alt="perro">
            <div class="intro">
                <h1>Paso 2</h1>
                <p1>Haz click en la pestaña 'Recetas' </p1>
            </div>
        </div>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Dog-1123016_960_720.jpg" alt="perro">
            <div class="intro">
                <h1>Paso 3</h1>
                <p1>Ingresa los ingredientes en la barra</p1>
            </div>
        </div>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Dog-1123016_960_720.jpg" alt="perro">
            <div class="intro">
                <h1>Paso 4</h1>
                <p1>¡Así de sencillo obtienes tu receta! ¡A cocinar!</p1>
            </div>
        </div>
    </div>
</body>
</html>