
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Doubt</title>
    <link rel="stylesheet" href="style.css2.0.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li class="active "><a href="#">Inicio</a></li>
                <li><a href="#">Modo de Uso</a></li>
                <li><a href="#">Recetas</a></li>
                <li><a href="#">Inspiración</a></li>
                <li><a href="#">¿Quiénes somos?</a></li>
            </ul>            
        </div>
    <div class="title">
        <h1>NoDoubt</h1>

    </div>

    <div class="subtitle">
        <h2>¡Bienvenid@ a nuestra página de recetas al instante!
            revisa el menú superior para seleccionar lo que necesitas...</h2>
    </div>

     </header>
</body>



</html>




