<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiración</title>
    <link rel="stylesheet" href="static/style.css2.0.css">
</head>
<body>
<div class="title4">
    <h1> Inspiración </h1>

</div>
</body>
<header>
    <div class="main">
        <ul>
            <li> <a href="/">Inicio</a></li>
            <li> <a href="/modosDeUso">Modos de Uso</a></li>
            <li> <a href="/recetas">Recetas</a></li>
            <li class="active"> <a href="/Inspiracion">Inspiración</a></li>
            <li> <a href="/quienes_somos">¿Quiénes somos?</a></li>
        </ul>  
    </div>     
</header>
</html>
