<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiración</title>
    <link rel="stylesheet" href="style.css2.0.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li> <a href="index.html">Inicio</a></li>
                <li> <a href="modosDeUso.html">Modos de Uso</a></li>
                <li> <a href="recetas.html">Recetas</a></li>
                <li class="active"> <a href="Inspiracion.html">Sugerencias</a></li>
                <li> <a href="quienes_somos.html">¿Quiénes somos?</a></li>
            </ul>  
        </div>     
    </header>
    <div class="recetas">
        <h1> ¡Aquí tienes las recetas más populares de chile!</h1>
        <h3> <a href"https://www.youtube.com/watch?v=lxKV_hajrzI&ab_channel=SilvanaCocina">https://www.youtube.com/watch?v=lxKV_hajrzI&ab_channel=SilvanaCocina</a></h3>
        <h2> 1. Empanadas; Son masas rellenas, generalmente de pino (una mezcla de carne molida, cebolla, huevo duro, <br> &emsp;
            aceitunas y pasas), aunque también pueden tener otros rellenos como mariscos o queso. <br> &emsp;&emsp;&emsp;&emsp; https://www.youtube.com/watch?v=nCYcQAKQIOM&ab_channel=SilvanaCocina<br><br>
        2. Pastel de choclo <br> &emsp; https://www.youtube.com/watch?v=lxKV_hajrzI&ab_channel=SilvanaCocina<br><br>
        3. Cazuela <br> &emsp;https://www.youtube.com/watch?v=aRCGQ-Pq_QE&ab_channel=AlvaroBarrientosMontero<br><br>
        4. Porotos Granados <br> &emsp; https://www.youtube.com/watch?v=GrGCPKyB-D0&ab_channel=SilvanaCocina<br><br>    
        5. Charquicán <br> &emsp; https://www.youtube.com/watch?v=Bgob5Lje4Js&ab_channel=SilvanaCocina
    </h2>
    </div>
</body>
<body>
<div class="title4">
    <h1> Sugerencias </h1>

</div>
</body>
</html>
