<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugerencias</title>
    <link rel="stylesheet" href="static/style.css2.0.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li> <a href="/">Inicio</a></li>
                <li> <a href="/modosDeUso">Modos de Uso</a></li>
                <li> <a href="/recetas">Recetas</a></li>
                <li class="active"> <a href="/Inspiracion">Sugerencias</a></li>
                <li> <a href="/quienes_somos">¿Quiénes somos?</a></li>
            </ul>  
        </div>     
    </header>
    <div class="text">
        <j>Estas son las recetas mas populares de chile, pincha una y a cocinar!</j>
    </div>
    <div class="links">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=nCYcQAKQIOM&ab_channel=SilvanaCocina" target="_blank">Empanadas</a></li>
            <li><a href="https://www.youtube.com/watch?v=lxKV_hajrzI&ab_channel=SilvanaCocina" target="_blank">Pastel de choclo</a></li>
            <li><a href="https://www.youtube.com/watch?v=aRCGQ-Pq_QE&ab_channel=AlvaroBarrientosMontero" target="_blank">Cazuela</a></li>
            <li><a href="https://www.youtube.com/watch?v=GrGCPKyB-D0&ab_channel=SilvanaCocina" target="_blank">Porotos granados</a></li>
            <li><a href="https://www.youtube.com/watch?v=Bgob5Lje4Js&ab_channel=SilvanaCocina" target="_blank">Charquícan</a></li>
        </ul>
    </div>
</body>
<body>
<div class="title4">
    <h1> Sugerencias </h1>

</div>
</body>
</html>
