<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes somos?</title>
    <link rel="stylesheet" href="static/style.css2.0.css">
</head>
<header>
    <div class="main">
        <ul>
            <li> <a href="/">Inicio</a></li>
            <li> <a href="/modosDeUso">Modos de Uso</a></li>
            <li> <a href="/recetas">Recetas</a></li>
            <li> <a href="/Inspiracion">Sugerencias</a></li>
            <li class="active"> <a href="/quienes_somos">¿Quiénes somos?</a></li>
        </ul>  
    </div>     
</header>
<body>
    <div class="texto">
        <h1> Josefa Castillo Carrasco <br>
            Ingeniería Civil Telemática </h1>
        <h2> Angel González Peña <br>
            Ingeniería Civil Telemática </h2>
        <h3> Vicente Vidal Guerra <br>
            Ingeniería Civil Telemática </h3>
    </div>
    <div class="box">
    </div>
    <div class="box2">
    </div>
    <div class="box3">
    </div>
</body>
<div class="title5">
    <h1> ¿Quiénes somos? </h1>
</div>
</html>
