<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link rel="stylesheet" href="static/style.css2.0.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li><a href="/" style="text-decoration: none;">Inicio</a></li>
                <li><a href="/modosDeUso" style="text-decoration: none;">Modos de Uso</a></li>
                <li class="active"><a href="/recetas" style="text-decoration: none;">Recetas</a></li>
                <li><a href="/Inspiracion" style="text-decoration: none;">Sugerencias</a></li>
                <li><a href="/quienes_somos" style="text-decoration: none;">¿Quiénes somos?</a></li>
            </ul>  
        </div>     
    </header>
    <div class="title5">
        <h1>Recetas</h1>
    </div>
    <div class="recetas-form">
        <div class="subtitulo">
            <label for="ingredientes">Ingrese los ingredientes separados por comas:</label>
        </div>
        <form id="recetas-form">
            <input type="text" id="ingredientes" name="ingredientes" required><br>
            <input type="submit" value="Buscar recetas">
        </form>
    </div>
    <div id="contenedor-resultados">
        <div id="resultados" class="resultados"></div>
        <div id="detalles" class="resultados"></div>
        <div id="spinner" class="spinner-border" role="status" style="display: none;">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    <script>
        document.getElementById('recetas-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const ingredientes = document.getElementById('ingredientes').value.trim();
            const spinner = document.getElementById('spinner');
            spinner.style.display = 'block';

            fetch('/buscar_recetas', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ ingredientes: ingredientes })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('No se pudo obtener una respuesta adecuada del servidor.');
                }
                return response.json();
            })
            .then(data => {
                const resultadosDiv = document.getElementById('resultados');
                resultadosDiv.innerHTML = '';
                spinner.style.display = 'none';

                if (data.length === 0 || (data.length === 1 && !data[0].id)) {
                    resultadosDiv.innerHTML = '<p>No hay recetas disponibles con los ingredientes proporcionados.</p>';
                } else {
                    data.forEach(receta => {
                        const recetaDiv = document.createElement('div');
                        recetaDiv.classList.add('receta');
                        recetaDiv.innerHTML = `<h3>${receta.titulo}</h3>`;
                        if (receta.id) {
                            const verDetallesButton = document.createElement('button');
                            verDetallesButton.textContent = 'Ver detalles';
                            verDetallesButton.addEventListener('click', function() {
                                verDetalles(receta.id);
                            });
                            recetaDiv.appendChild(verDetallesButton);
                        }
                        resultadosDiv.appendChild(recetaDiv);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                spinner.style.display = 'none';
            });
        });

        function verDetalles(id) {
            const spinner = document.getElementById('spinner');
            const detallesDiv = document.getElementById('detalles');
            spinner.style.display = 'block';
            detallesDiv.innerHTML = '';

            fetch('/detalles_receta', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ id: id })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('No se pudo obtener una respuesta adecuada del servidor.');
                }
                return response.json();
            })
            .then(data => {
                let ingredientesHTML = '<h3>Ingredientes:</h3><ul>';
                data.ingredientes.forEach(ingrediente => {
                    ingredientesHTML += `<li>${ingrediente}</li>`;
                });
                ingredientesHTML += '</ul>';

                let instruccionesHTML = '<h3>Instrucciones:</h3><ol>';
                data.instrucciones.forEach((instruccion, index) => {
                    instruccionesHTML += `<li>${index + 1}- ${instruccion}</li>`;
                });
                instruccionesHTML += '</ol>';

                detallesDiv.innerHTML = `
                    <h2>${data.titulo}</h2>
                    <p>Tiempo de preparación: ${data.tiempo_preparacion}</p>
                    <p>Porciones: ${data.porciones}</p>
                    ${ingredientesHTML}
                    ${instruccionesHTML}
                `;
                spinner.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
                spinner.style.display = 'none';
            });
        }
    </script>
</body>
</html>
